*.o
*.a
*.so
*.dylib
*.dSYM
*.dump
*.tar.gz
*.aux
*.log
*.out
*.toc
*.DS_Store
bridge/sw/run-conf.sh
bridge/sw/Makefile.conf
bridge/sw/kink_conf.h
bridge/sw/contrib/cpubapi/cpubapi
bridge/sw/lib/evcoap/test/client/coap-client
bridge/sw/lib/evcoap/test/server/coap-server
bridge/sw/lib/evcoap/test/proxy/coap-proxy
bridge/sw/lib/evcoap/test/plug/bin/plugtest
bridge/sw/lib/evcoap/test/plug/vectors/plugtest
bridge/sw/lib/evcoap/test/unit/runtest
bridge/sw/lib/kache/test/runtest
bridge/sw/proxy/kink
bridge/sw/discopub/discopub
web/demo/run-conf.sh
web/demo/Makefile.conf
web/demo/kloned/klapp.mk
web/demo/kloned/klone-*
web/demo/kloned/kloned
web/demo/kloned/vars.mk
web/demo/kloned/webapp/etc/kloned.conf
web/demo/wtdemo_conf.h
